@model List<departmant>

@{
    ViewData["Title"] = "depart";
    Layout = "~/Views/Shared/dashboardLayout.cshtml";
}
<table class="table table-bordered w-100 mt-2">
    <tr>

        <th>Departmant ID</th>
        <th>Departmant Name</th>
        <th>Update</th>
        <th>Details</th>
        <th>Delete</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.deptid</td>
            <td>@item.deptname</td>
            <td><a href="/departmant/BringDepartmant/@item.deptid" class="btn btn-success">Update</a></td>
            <td><a href="/departmant/DepartmantDetail/@item.deptid" class="btn btn-secondary">Details</a></td>
            <td><a href="/departmant/DeleteDepartmant/@item.deptid" class="btn btn-danger">Delete</a></td>

        </tr>

       
    }
   
</table>
<a href="/departmant/NewDepartmant" class="btn bg-primary text-white py-1 px-2">Add New Departmant</a>

